
.icon-hourglass:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-eye-1:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-pin:before { content: '\e801'; } /* '' */
.icon-mobile:before { content: '\e800'; } /* '' */