#availability_status {
	font-size:11px;
	margin-left:10px;
}
#availability_statusm {
	font-size:11px;
	margin-left:10px;
}
#content {
	margin-left: auto;
	margin-right: auto;
	width: auto;
	margin-top:70px;
	margin-left:15px;
	margin-right:15px;
}
